# Ignore Python virtual environment
.venv/
venv/
.venv3.10/
.venv*/

# Ignore database and credentials
*.sqlite3
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and system files
*.log
*.swp
*.swo
*.bin

# Ignore IDE/editor config files
.vscode/
.idea/

assets/
data/
!static/data/
!static/data/**
synda/
testing/

/*.nc

*.deb
*.csv
*.json*
*.xls*
*.txt
!requirements.txt

data_model_v2/

# Allow JSONs in improve_ko input/output
!improve_ko/
!improve_ko/input/
!improve_ko/input/*.json
!improve_ko/output/
!improve_ko/output/*.json
