# Ignore Python virtual environment
.venv/
venv/
.venv3.10/
.venv*/

# Ignore database and credentials
*.sqlite3
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and system files
*.log
*.swp
*.swo
*.bin

# Ignore IDE/editor config files
.vscode/
.idea/

assets/
data/
!static/data/
!static/data/**
synda/
testing/
downloads/
renders/
reports/
output/
outputs/

/*.nc

*.deb
*.csv
*.tsv
*.xls*
*.pdf
*.txt
!requirements.txt
!model_repos.txt
*.png
*.np*
*.rdf
*.json
!schemas/*.json
!which_fields_to_choose/*.json
!which_model_to_choose/**/*.json
!input/*_5_24.json
!input/*_10_24.json
!input/*_24.json
!input/*_50_24.json
!input/*_100_24.json
!input/*_200_24.json
!input/*_300_24.json

# Ignore locked files
*#

data_model_v2/
florence/
assess_ko_quality/output/
summary_evaluation/output/
which_model_to_choose/output/
which_model_to_choose/artifacts/
improve_ko/output/
improve_ko/qa_done/
